// Backgrounds
$basic_background: #2A2C2F;

// Font-colors:
$basic_color: #FFF;
$non-accent_color: #AAA;

// Content size
$desktop_L_wide_content: 1184px;
$desktop_L_narrow_content: 984px;
// $tablet_content_width: 736px;
// $mobile_content_width: 343px;