// Backgrounds
$basic_background: #2A2C2F;

// Font-colors:
$basic_color: #FFF;
$non-accent_color: #AAA;

// Content size
$desktop_L_wide_content: 1184px;
$desktop_L_narrow_content: 984px;
$desktop_S_wide_content: 1024px;
$desktop_S_narrow_content: 928px;
$tablet_wide_content: 768px;
$tablet_narrow_content: 720px;
$mobile_wide_content: 320px;
$mobile_narrow_content: 288px;