* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2A2C2F;
  font-family: "Inter", sans-serif;
  color: #FFF;
  font-style: normal;
}

a {
  text-decoration: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 1184px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin-top: 28px;
  margin-bottom: 56px;
}
.header__logo-img {
  width: 176px;
}
.header__lang-list {
  display: flex;
  gap: 18px;
  margin-top: 46px;
  margin-bottom: 62px;
}
.header__lang-item {
  list-style-type: none;
}
.header__lang-link {
  font-family: "Inter";
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.header__lang-link:hover {
  opacity: 0.8;
}
.header__lang-link_active {
  text-decoration-line: underline;
}

.main {
  width: 984px;
  margin-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__title {
  max-width: 720px;
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  padding-bottom: 32px;
}
.main__subtitle {
  max-width: 640px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 64px;
}
.main__image {
  width: 984px;
  margin-bottom: 8px;
}
.main__caption {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
}

.intro {
  width: 984px;
  margin-bottom: 92px;
}
.intro__content {
  max-width: 690px;
}
.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin-bottom: 40px;
}
.intro__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
  margin-bottom: 33px;
}
.intro__list-item {
  list-style-type: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.intro__list-item-bold {
  font-weight: 700;
}

.gallery {
  width: 1184px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 92px;
}
.gallery__item {
  width: 284px;
}

.places {
  width: 984px;
}

.place {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 80px;
}
.place__first-row {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}
.place__title {
  width: 460px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}
.place__url-heading {
  color: #AAA;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  margin-bottom: 12px;
}
.place__link {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: underline;
}
.place__second-row {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.place__image {
  width: 460px;
}
.place__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.place__paragraph {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
}

.bottom-banner {
  width: 1184px;
  height: 740px;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 12px;
  margin-bottom: 92px;
}
.bottom-banner:hover .bottom-banner__cover {
  opacity: 0.8;
}
.bottom-banner__cover {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: #2A2C2F;
  position: absolute;
  top: 0;
  transition: opacity 0.3s;
}
.bottom-banner__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.bottom-banner__title {
  width: 560px;
  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}
.bottom-banner__subtitle {
  width: 360px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.footer {
  width: 1184px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.footer__navigation-list {
  display: flex;
  gap: 18px;
  list-style-type: none;
}
.footer__navigation-link {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.footer__navigation-link:hover {
  text-decoration: underline;
  opacity: 0.8;
}
.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

@media (max-width: 1279px) {
  .header {
    width: 928px;
  }
  .header__logo {
    margin-bottom: 48px;
  }
  .header__lang-list {
    margin-bottom: 54px;
  }
  .main {
    width: 928px;
  }
  .main__subtitle {
    padding-bottom: 56px;
  }
  .main__image {
    width: 928px;
  }
  .intro {
    width: 928px;
  }
  .gallery {
    width: 928px;
    gap: 14px;
  }
  .gallery__item {
    width: 300px;
  }
  .places {
    width: 928px;
  }
  .place__first-row {
    gap: 32px;
  }
  .place__title {
    width: 440px;
  }
  .place__image {
    width: 440px;
  }
  .bottom-banner {
    width: 1024px;
    height: 640px;
  }
  .footer {
    width: 928px;
  }
}
@media (max-width: 1023px) {
  .header {
    width: 720px;
  }
  .main {
    width: 768px;
    margin-bottom: 88px;
  }
  .main__image {
    width: 768px;
  }
  .main__caption {
    margin-left: 24px;
  }
  .intro {
    width: 720px;
    margin-bottom: 88px;
  }
  .intro__content {
    max-width: 720px;
  }
  .gallery {
    width: 720px;
    margin-bottom: 88px;
  }
  .gallery__item {
    width: 352px;
  }
  .places {
    width: 720px;
  }
  .place {
    margin-bottom: 73px;
  }
  .place__first-row {
    gap: 28px;
  }
  .place__title {
    width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
  .place__second-row {
    gap: 28px;
  }
  .place__image {
    width: 340px;
  }
  .place__paragraph {
    font-size: 16px;
  }
  .bottom-banner {
    width: 768px;
    height: 480px;
    margin-top: 17px;
    margin-bottom: 88px;
  }
  .footer {
    width: 720px;
  }
}
@media (max-width: 767px) {
  .header {
    width: 288px;
  }
  .header__logo {
    margin-top: 16px;
  }
  .header__logo-img {
    width: 142px;
  }
  .header__lang-list {
    margin-top: 30px;
    margin-bottom: 56px;
  }
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
  .main {
    width: 320px;
    margin-bottom: 64px;
  }
  .main__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 16px;
  }
  .main__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
  }
  .main__image {
    width: 320px;
  }
  .main__caption {
    margin-left: 16px;
  }
  .intro {
    width: 288px;
    margin-bottom: 64px;
  }
  .intro__content {
    max-width: 288px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
  .intro__text {
    margin-bottom: 34px;
  }
  .gallery {
    width: 288px;
    gap: 12px;
    margin-bottom: 64px;
  }
  .gallery__item {
    width: 288px;
  }
  .places {
    width: 320px;
  }
  .place {
    gap: 32px;
    margin-bottom: 50px;
  }
  .place__first-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin: 0 16px 0 16px;
  }
  .place__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
  .place__second-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .place__image {
    width: 320px;
  }
  .place__paragraph {
    font-size: 16px;
    margin: 0 16px 0 16px;
  }
  .bottom-banner {
    width: 320px;
    height: 200px;
    margin-top: 16px;
    margin-bottom: 64px;
  }
  .bottom-banner__link {
    gap: 16px;
  }
  .bottom-banner__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
  .bottom-banner__subtitle {
    width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
  .footer {
    width: 288px;
    flex-direction: column;
    gap: 16px;
  }
  .footer__navigation-list {
    display: block;
    margin: 0 16px 0 16px;
  }
  .footer__navigation-link {
    display: block;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }
  .footer__copyright {
    margin: 0 16px 0 16px;
    line-height: 14px;
  }
}/*# sourceMappingURL=style.css.map */